.icon {
    font-size: 10px;
}

.icon:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("../svg/sprite.svg");
    background-repeat: no-repeat;
    background-size: 51.2em 129.7em;
}

.no-svg .icon:before {
    background-image: url("../svg/sprite.png");
}



  .icon.altlogo:before {
      background-position: 0em 0em;
      width: 37.261900000000004em;
      height: 32.9411em;
  }




  .icon.caretup:before {
      background-position: 0em -33em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.logo:before {
      background-position: 0em -84.2em;
      width: 23.1782em;
      height: 30.708800000000004em;
  }




  .icon.partner1:before {
      background-position: 0em -115em;
      width: 6.665000000000001em;
      height: 6.4375em;
  }




  .icon.partner2:before {
      background-position: 0em -121.5em;
      width: 7.5986em;
      height: 8.1091em;
  }





