@import "./vars";
@import "./modules/header";
@import "./modules/sidebar";
@import "./modules/slideshow";
@import "./modules/parallax";
@import "./modules/gallery";
@import "./modules/itemlist";
@import "./modules/previewlist";
@import "./modules/textcontent";
@import "./modules/map";
@import "./modules/video";
@import "./modules/footer";
@import "./modules/modal";

.atSmall(@rules) {
  @media screen and (min-width: @widthSmall) { @rules(); }
}

.atMedium(@rules) {
  @media screen and (min-width: @widthMedium) { @rules(); }
}

.atLarge(@rules) {
  @media screen and (min-width: @widthLarge) { @rules(); }
}

body {
  margin: 0;
  padding: 0;
  background: @body-background;
}

body * {
  font-family: @font-family;
}

.margin-left-right {
  margin: 0 @page-margin-left-right 0 @page-margin-left-right;
}
.margin-top {
  margin-top: @margin-top;
}
.margin-bottom {
  margin-bottom: @margin-bottom;
}
.margin-top-bottom {
  .margin-top();
  .margin-bottom();
}
.centered {
  text-align: center;
}
.align-right {
  text-align: right;
}

.btn {
  background-color: @btn-background-color;
  color: if((@btn-bg-light), @btn-font-color-dark, @btn-font-color-light);
  border: @btn-border if((@btn-bg-light), darken(@btn-background-color, 20%), lighten(@btn-background-color, 20%));
  font-size: @btn-font-size;
  padding: @btn-padding;
  cursor: pointer;
  transition: all 0.1s;
  border-radius: @btn-border-radius;

  .atSmall({
    font-size: @btn-font-size + 0.5;
    padding: @btn-padding + 0.25;
  });

  .atMedium({
    font-size: @btn-font-size + 1;
    padding: @btn-padding + 0.5;
  });

}

.btn:hover {
  background-color: lighten(@btn-background-color, 5%);
}

.btn:active {
  padding: @btn-padding - @btn-padding*0.1;
  font-size: @btn-font-size - @btn-font-size*0.1;
  background-color: darken(@btn-background-color, 5%);

  .atSmall({
    font-size: (@btn-font-size + 0.5) - (@btn-font-size + 0.5)*0.1;
    padding: (@btn-padding + 0.25) - (@btn-padding + 0.25)*0.1;
  });

  .atMedium({
    font-size: (@btn-font-size + 1) - (@btn-font-size + 1)*0.1;
    padding: (@btn-padding + 0.5) - (@btn-padding + 0.5)*0.1;
  });
}

.main-content {
  margin: 0 auto;
  max-width: 100vw;
  .atSmall({
    max-width: 100vw;
  });
  .atMedium({
    max-width: @main-content-max-width-medium;
  });
  .atLarge({
    max-width: @main-content-max-width-large;
  });
}

.back-to-top {
  position: fixed;
  z-index: @z-index-1;
  right: 3rem;
  bottom: 3rem;
  cursor: pointer;
  transition: opacity 1s;
  padding: @back-to-top-padding;
  color: @back-to-top-color;
  background-color: @back-to-top-background-color;

  &-hidden {
    opacity: 0;
  }

  .caretup {
    display: block;
    font-size: @back-to-top-font-size;
  }

}

.disappear-on-load {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: @loading-overlay-color;
  top: 0;
  z-index: 1000;
  transition: opacity 1s;

  .splash-logo {
    /*width: 10%;*/
    height: 100vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.disappeared-on-load {
  opacity: 0;
}

.owl-carousel {
  z-index: -1 !important;
}

.lightSlider {
  li {
    text-align: center;
  }
}

h3, h4 {
  font-weight: 400;
}

p, li {
  font-weight: 300;
}

hr {
  color: #536928;
  width: 50%;
  margin: 50px auto 50px auto;
}

.customNote {
  font-style: italic;
  font-weight: 500;
}

.customRandom::after {
  display: inline;
  content: "@diktamohouse.gr";
}

#contact {
  ul {
    list-style-type: none;
  }

  a, a:visited, a:active, a:hover {
    color: #536928;
    text-decoration: none;
    font-weight: 500;
  }

}