@import "./vars";
@import "./modules/slideshow";
@import "./modules/gallery";
@import "./modules/map";

body {
  margin: 0;
  padding: 0;
}

.margin-left-right {
  margin: 0 @page-margin-left-right 0 @page-margin-left-right;
}

.disappear-on-load {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: black;
  top: 0;
  z-index: 1000;
  transition: opacity 1s;
}

.disappeared-on-load {
  opacity: 0;
}
