@import "./vars";
@import "./modules/slideshow";
@import "./modules/parallax";
@import "./modules/gallery";
@import "./modules/map";
@import "./modules/header";
@import "./modules/footer";

.atSmall(@rules) {
  @media screen and (min-width: @widthSmall) { @rules(); }
}

.atMedium(@rules) {
  @media screen and (min-width: @widthMedium) { @rules(); }
}

.atLarge(@rules) {
  @media screen and (min-width: @widthLarge) { @rules(); }
}

body {
  margin: 0;
  padding: 0;
}

body * {
  font-family: "Open Sans", sans-serif;
}

.margin-left-right {
  margin: 0 @page-margin-left-right 0 @page-margin-left-right;
}
.margin-top {
  margin-top: @margin-top;
}
.margin-bottom {
  margin-bottom: @margin-bottom;
}
.margin-top-bottom {
  .margin-top();
  .margin-bottom();
}
.centered {
  text-align: center;
}
.align-right {
  text-align: right;
}

.btn {
  background-color: @btn-background-color;
  color: if((@btn-bg-light), @btn-font-color-dark, @btn-font-color-light);
  border: @btn-border if((@btn-bg-light), darken(@btn-background-color, 20%), lighten(@btn-background-color, 20%));
  font-size: @btn-font-size;
  padding: @btn-padding;
  cursor: pointer;
  transition: all 0.1s;
  border-radius: @btn-radius;

  .atSmall({
    font-size: @btn-font-size + 0.5;
    padding: @btn-padding + 0.25;
  });

  .atMedium({
    font-size: @btn-font-size + 1;
    padding: @btn-padding + 0.5;
  });

}

.btn:hover {
  background-color: lighten(@btn-background-color, 5%);
}

.btn:active {
  padding: @btn-padding - @btn-padding*0.1;
  font-size: @btn-font-size - @btn-font-size*0.1;
  background-color: darken(@btn-background-color, 5%);

  .atSmall({
    font-size: (@btn-font-size + 0.5) - (@btn-font-size + 0.5)*0.1;
    padding: (@btn-padding + 0.25) - (@btn-padding + 0.25)*0.1;
  });

  .atMedium({
    font-size: (@btn-font-size + 1) - (@btn-font-size + 1)*0.1;
    padding: (@btn-padding + 0.5) - (@btn-padding + 0.5)*0.1;
  });
}

.disappear-on-load {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: black;
  top: 0;
  z-index: 1000;
  transition: opacity 1s;
}

.disappeared-on-load {
  opacity: 0;
}
