
/* General */

@widthSmall: 460px;
@widthMedium: 768px;
@widthLarge: 1100px;

@background-color: #dddddd;
@bg-light: boolean(luma(@background-color) > 40%);
@font-color-dark: #333333;
@font-color-light: #dddddd;

@page-margin-left-right: 5%;
@margin-top: 3%;
@margin-bottom: 3%;

@z-index-1: 100;


/* Buttons */

@btn-background-color: #eeeeee;
@btn-bg-light: boolean(luma(@btn-background-color) > 40%);
@btn-font-color-dark: #333333;
@btn-font-color-light: #dddddd;
@btn-border: 2px solid;
@btn-font-size: 1rem;
@btn-padding: 0.5rem;
@btn-radius: 0.3rem;


/* Parallax */

@parallax-container-height: 300px;
@parallax-overlay: true;
@parallax-font-size: 1rem;
@parallax-font-weight: 100;
@parallax-text-shadow: 2px 2px 3px black;
@parallax-overlay-opacity: 0.4;


/* Map */

@map-height: 33vh;
@map-width: 100%;

/* Footer */
@footer-background-color: #062456;
@footer-bg-light: boolean(luma(@footer-background-color) > 40%);
@footer-font-color-dark: #02173a;
@footer-font-color-light: #dae2ef;
@footer-border: 1px solid darken(@footer-background-color, 5%);
