@font-color-dark: #333333;
@font-color-light: #dddddd;

@background-color: #dddddd;
//@bg-light: boolean(luma(@background-color) > 50%);

@btn-background-color: #333333;
@btn-bg-light: boolean(luma(@btn-background-color) > 50%);

@page-margin-left-right: 5%;
@margin-top: 1%;
@margin-bottom: 1%;

@z-index-1: 100;

@parallax-container-height: 300px;

@map-height: 33vh;
@map-width: 100%;
