/* General */
/* Header */
/* Video */
/* Buttons */
/* Parallax */
/* Map */
/* Footer */
#full-width-slideshow img {
  display: block;
  width: 100%;
  height: auto;
}
.parallax-container {
  position: relative;
  height: 300px;
  overflow: hidden;
  background-color: black;
}
.parallax-container .parallax-img {
  position: absolute;
  width: 100%;
  opacity: 0.6;
}
.parallax-container .parallax-heading {
  position: relative;
  top: 30%;
  margin: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  text-align: center;
  font-size: 1rem;
  color: white;
  font-weight: 100;
  text-shadow: 2px 2px 3px black;
}
@media screen and (min-width: 460px) {
  .parallax-container .parallax-heading {
    font-size: 2rem;
  }
}
.parallax-container .parallax-btn {
  position: relative;
  z-index: 100;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  grid-gap: 0.5rem;
}
.gallery-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.gallery-caption {
  width: 100%;
  margin-top: -5px;
  padding: 0.5rem;
  box-sizing: border-box;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  font-size: 1rem;
  line-height: 1rem;
  text-align: left;
  color: white;
  text-shadow: 0 0 0.3rem black;
  background-color: rgba(0, 0, 0, 0.6);
}
#map {
  width: 100%;
  height: 33vh;
}
.video-container {
  position: relative;
  height: 80vh;
  overflow: hidden;
  background-color: black;
  z-index: 100;
}
.video-container .full-width-video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  -webkit-transform: none;
          transform: none;
  opacity: 0.5;
}
.site-header {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.site-header-animated {
  transition: -webkit-transform ease-in 0.5s;
  transition: transform ease-in 0.5s;
  transition: transform ease-in 0.5s, -webkit-transform ease-in 0.5s;
}
.site-header-fixed {
  position: fixed;
  z-index: 200;
  left: 0;
  right: 0;
}
.site-header-pushedUp {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}
.site-header * {
  font-family: Arial;
}
.site-header .header-wrapper-row:nth-of-type(1) {
  background-color: #062456;
}
.site-header .header-wrapper-row:nth-of-type(2) {
  background-color: #cccccc;
}
@media screen and (min-width: 768px) {
  .site-header .header-wrapper-row {
    display: grid;
    grid-template-columns: 2fr 6fr 2fr;
    grid-gap: 0;
  }
}
.site-header .header-wrapper-col {
  border: 1px solid red;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .site-header .header-wrapper-col:not(:first-of-type):not(:last-of-type) {
    text-align: center;
  }
  .site-header .header-wrapper-col:last-of-type {
    text-align: right;
  }
}
@media screen and (min-width: 768px) {
  .site-header .header-wrapper-col {
    text-align: initial;
  }
}
.site-header .header-wrapper-col .logo {
  text-align: center;
}
.site-header .header-wrapper-col .logo img {
  max-height: 15vh;
  min-height: 200px;
}
.site-header .header-wrapper-col .logo-shrunk img {
  max-height: 10vh;
  min-height: 100px;
}
.site-header .header-wrapper .header-nav-btn {
  min-width: 25px;
  max-width: 5vw;
  margin: 1vh auto;
  cursor: pointer;
  transition: all 0.1s;
}
.site-header .header-wrapper .header-nav-btn:hover {
  background-color: #dedede;
}
@media screen and (min-width: 768px) {
  .site-header .header-wrapper .header-nav-btn {
    display: none;
  }
}
.site-header .header-wrapper .header-nav-btn .header-nav-btn-bar-mixin {
  width: 100%;
  height: 5px;
  background-color: black;
  border-radius: 3px;
}
.site-header .header-wrapper .header-nav-btn::before {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background-color: black;
  border-radius: 3px;
  margin-bottom: 5px;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}
.site-header .header-wrapper .header-nav-btn-bar-middle {
  width: 100%;
  height: 5px;
  background-color: black;
  border-radius: 3px;
  transition: all 0.3s ease-out;
}
.site-header .header-wrapper .header-nav-btn::after {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background-color: black;
  border-radius: 3px;
  margin-top: 5px;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}
.site-header .header-wrapper .header-nav-btn-close::before {
  -webkit-transform: translateY(200%) rotate(45deg);
          transform: translateY(200%) rotate(45deg);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}
.site-header .header-wrapper .header-nav-btn-close .header-nav-btn-bar-middle {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}
.site-header .header-wrapper .header-nav-btn-close::after {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}
.site-header .header-wrapper nav.menu {
  text-align: center;
  display: none;
}
.site-header .header-wrapper nav.menu-visible {
  display: block;
}
.site-header .header-wrapper nav.menu ul {
  margin: 0;
}
.site-header .header-wrapper nav.menu ul li {
  display: block;
  text-align: left;
}
@media screen and (min-width: 768px) {
  .site-header .header-wrapper nav.menu ul li {
    display: inline-block;
  }
}
.site-header .header-wrapper nav.menu ul li a {
  text-decoration: none;
  font-size: 1.2rem;
  color: #333333;
  font-weight: 100;
}
@media screen and (min-width: 768px) {
  .site-header .header-wrapper nav.menu ul li a {
    font-size: 1.53rem;
  }
}
@media screen and (min-width: 1100px) {
  .site-header .header-wrapper nav.menu ul li a {
    font-size: 1.755rem;
  }
}
@media screen and (min-width: 768px) {
  .site-header .header-wrapper nav.menu {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    display: block;
  }
}
.site-footer {
  background-color: #062456;
  color: #dae2ef;
  padding: 0.5rem;
}
.site-footer .footer-row {
  display: block;
  width: 100%;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .site-footer .footer-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: left;
  }
}
.site-footer .footer-row .footer-col {
  padding: 0.5rem;
}
@media screen and (min-width: 768px) {
  .site-footer .footer-row .footer-col:not(:first-of-type) {
    border-left: 1px solid #041a3e;
  }
  .site-footer .footer-row .footer-col:not(:first-of-type):not(:last-of-type) {
    text-align: center;
  }
  .site-footer .footer-row .footer-col:last-of-type {
    text-align: right;
  }
}
.site-footer .footer-row .footer-col a {
  color: #dae2ef;
  text-decoration: none;
}
.site-footer .footer-full {
  width: 100%;
  padding-top: 0.5rem;
  margin-top: 1rem;
  border-top: 1px solid #041a3e;
}
body {
  margin: 0;
  padding: 0;
  background: black url('../assets/img/abstract.jpeg') no-repeat fixed center;
}
body * {
  font-family: "Open Sans", sans-serif;
}
.margin-left-right {
  margin: 0 5vw 0 5vw;
}
.margin-top {
  margin-top: 5vh;
}
.margin-bottom {
  margin-bottom: 5vh;
}
.margin-top-bottom {
  margin-top: 5vh;
  margin-bottom: 5vh;
}
.centered {
  text-align: center;
}
.align-right {
  text-align: right;
}
.btn {
  background-color: #eeeeee;
  color: #333333;
  border: 2px solid #bbbbbb;
  font-size: 1rem;
  padding: 0.5rem;
  cursor: pointer;
  transition: all 0.1s;
  border-radius: 0.3rem;
}
@media screen and (min-width: 460px) {
  .btn {
    font-size: 1.5rem;
    padding: 0.75rem;
  }
}
@media screen and (min-width: 768px) {
  .btn {
    font-size: 2rem;
    padding: 1rem;
  }
}
.btn:hover {
  background-color: #fbfbfb;
}
.btn:active {
  padding: 0.45rem;
  font-size: 0.9rem;
  background-color: #e1e1e1;
}
@media screen and (min-width: 460px) {
  .btn:active {
    font-size: 1.35rem;
    padding: 0.675rem;
  }
}
@media screen and (min-width: 768px) {
  .btn:active {
    font-size: 1.8rem;
    padding: 0.9rem;
  }
}
.back-to-top {
  position: fixed;
  max-width: 5vw;
  min-width: 100px;
  z-index: 100;
  right: 0;
  bottom: 0;
  background-color: white;
  border: 1px solid red;
  cursor: pointer;
  transition: opacity 1s;
}
.back-to-top-hidden {
  opacity: 0;
}
.disappear-on-load {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: black;
  top: 0;
  z-index: 1000;
  transition: opacity 1s;
}
.disappeared-on-load {
  opacity: 0;
}
