
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: @gallery-grid-gap;

  &-item {
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

  }

  &-caption {
    width: 100%;
    margin-top: -7px;
    padding: @gallery-caption-padding;
    box-sizing: border-box;
    transform: translateY(-100%);
    font-size: @gallery-font-size;
    line-height: @gallery-line-height;
    text-align: left;
    color: @gallery-font-color;
    text-shadow: @gallery-text-shadow;
    background: @gallery-background-color;
  }

}
