.header-fixed-mixin() when (@header-is-fixed=true) {
  position: fixed;
  z-index: @z-index-2;
  left: 0;right: 0;
}

.header-fixed-when-pulled-down-mixin() {
  position: fixed;
  z-index: @z-index-2;
  left: 0;right: 0;
}

.header-gradient-mixin() when (@header-has-gradient=true) {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.75+0,0+100 */
  background: -moz-linear-gradient(top, @header-gradient-color 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, @header-gradient-color 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, @header-gradient-color 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.header-gradient-alt-mixin() when (@header-has-gradient-alt=true) {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.75+0,0+100 */
  background: -moz-linear-gradient(top, @header-gradient-alt-color 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, @header-gradient-alt-color 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, @header-gradient-alt-color 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.header-row-mixin() {
  &:nth-of-type(1) {
    background-color: @header-background-color-1;
    * {
      color: if((@header-bg-1-light), @menu-font-color-dark, @menu-font-color-light);
    }
  }
  &:nth-of-type(2) {
    background-color: if((@header-has-gradient), none, @header-background-color-2);
    .header-gradient-mixin();
    * {
      color: if((@header-bg-2-light), @menu-font-color-dark, @menu-font-color-light);
    }
  }
}

.header-row-alt-mixin() {
  &:nth-of-type(1) {
    background-color: @header-background-alt-color-1;
    * {
      color: if((@header-bg-alt-1-light), @menu-font-color-dark, @menu-font-color-light);
    }
  }
  &:nth-of-type(2) {
    background-color: if((@header-has-gradient-alt), none, @header-background-alt-color-2);
    .header-gradient-alt-mixin();
    * {
      color: if((@header-bg-alt-2-light), @menu-font-color-dark, @menu-font-color-light);
    }
  }
}

.site-header {
  .header-fixed-mixin();

  transform: translateY(0);

  &-animated {
    transition: transform ease-in 0.5s;
  }
  &-fixed {
    .header-fixed-when-pulled-down-mixin();

    nav.menu {
      max-width: 90vw;
      max-height: 50vh;
      overflow: auto;
    }

  }
  &-pushedUp {
    transform: translateY(-100%);
  }

  * {
    font-family: @header-font-family;
  }

  .header-wrapper {

    &-row {
      .header-row-mixin();

      &-alt {
        .header-row-alt-mixin();
      }

      .atMedium({
        display: grid;
        grid-template-columns: 2fr 6fr 2fr;
        grid-gap: 0;
      });

    }

    &-col {
      border: 1px solid red;
      text-align: center;

      .atMedium({

        &:not(:first-of-type):not(:last-of-type) {
          text-align: center;
        }

        &:last-of-type {
          text-align: right;
        }

      });

      .atMedium({
        text-align: initial;
      });

      .logo {
        text-align: center;

        img {
          margin: 0.5rem 0;
          max-height: 15vh;
          min-height: 200px;
        }
        &-shrunk {
          img {
            margin: 0.2rem 0;
            max-height: 10vh;
            min-height: 100px;
          }
        }
      }

      .altLogo {
        display: none;
        text-align: center;
        img {
          margin: 0.2rem 0;
          max-height: 10vh;
          min-height: 100px;
        }
      }

    }

    .header-nav-btn {
      min-width: 25px;
      max-width: 5vw;
      margin: 1vh auto;
      cursor: pointer;
      transition: all 0.1s;

      &:hover {
        background-color: lighten(@header-background-color-2, 7%);
      }

      .atMedium({
        display: none;
      });

      .header-nav-btn-bar-mixin {
        width: 100%;
        height: 5px;
        background-color: black;
        border-radius: 3px;
      }

      &::before {
        content: "";
        display: block;
        .header-nav-btn-bar-mixin();
        margin-bottom: 5px;
        transition: transform .3s ease-out;
      }

      &-bar-middle {
        .header-nav-btn-bar-mixin();
        transition: all .3s ease-out;
      }

      &::after {
        content: "";
        display: block;
        .header-nav-btn-bar-mixin();
        margin-top: 5px;
        transition: transform .3s ease-out;
      }

      &-close {

        &::before {
          transform:  translateY(200%) rotate(45deg);
          transform-origin: 50% 50%;
        }

        .header-nav-btn-bar-middle {
          transform: rotate(-45deg);
          transform-origin: 50% 50%;
        }

        &::after {
          transform: scaleX(0);
        }

      }

    }

    nav.menu {
      text-align: center;
      display: none;

      .atMedium({
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        display: block;
      });

      &-visible {
        display: block;
      }

      ul {
        margin: 0;
        list-style: none;

        li {
          display: block;
          padding-right: 40px;
          text-align: left;

          .atMedium({
            display: inline-block;
          });

          a {
            text-decoration: none;
            font-size: @menu-font-size;
            font-weight: @menu-font-weight;
            cursor: pointer;

            .atMedium({
              font-size: (@menu-font-size + 0.5) - (@menu-font-size + 0.5)*0.1;
            });

            .atLarge({
              font-size: (@menu-font-size + 0.75) - (@menu-font-size + 0.75)*0.1;
            });

          }

          ul {

            display: none;
            margin-left: 1rem;
            padding: 0 1rem;
            background-color: #f0f0f0;
            border: 1px solid #808080;
            border-radius: 3px;
            list-style: none;

            .atMedium({
              position: absolute;
              margin-left: 0;
            });

            li {
              display: block;
              padding: 0.5rem 0;

              ul {

                .atMedium({
                  left: 30%;
                });

              }

            }

          }

        }

      }

    }

  }

}
