.header-fixed-mixin() when (@header-is-fixed=true) {
  position: fixed;
  z-index: @z-index-3;
  left: 0;right: 0;
  .submenu-expansion-fix-mixin();
}

.header-fixed-when-pulled-down-mixin() {
  position: fixed;
  z-index: @z-index-3;
  left: 0;right: 0;
  .submenu-expansion-fix-mixin();
}

.submenu-expansion-fix-mixin() {
  nav.menu {
      max-width: 90vw;
      max-height: 50vh;
      overflow: auto;

      .atMedium({
        max-width: initial;
        max-height: initial;
        overflow: initial;
      });
  }
}

.header-gradient-mixin() when (@header-has-gradient=true) {
  background-image: @header-gradient;
}

.header-gradient-alt-mixin() {
  background-image: if((@header-has-gradient-alt), @header-gradient-alt, none);
}

.header-row-mixin() {
  &:nth-of-type(1) {
    background-color: @header-background-color-1;
    padding: 0;
    * {
      font-size: @menu-font-size - @menu-font-size*0.3;
      color: if((@header-bg-1-light), @menu-font-color-dark, @menu-font-color-light);
    }
    border-bottom: @header-border-1;
  }
  &:nth-of-type(2) {
    background-color: @header-background-color-2;
    padding: 0;
    .header-gradient-mixin();
    * {
      font-size: @menu-font-size - @menu-font-size*0.3;
      color: if((@header-bg-2-light), @menu-font-color-dark, @menu-font-color-light);
    }
    border-bottom: @header-border-2;
  }
}

.header-row-alt-mixin() {
  &:nth-of-type(1) {
    background-color: @header-background-alt-color-1;
    * {
      color: if((@header-bg-alt-1-light), @menu-font-color-dark, @menu-font-color-light);
    }
    border-bottom: @header-border-alt-1;
  }
  &:nth-of-type(2) {
    background-color: @header-background-alt-color-2;
    .header-gradient-alt-mixin();
    * {
      color: if((@header-bg-alt-2-light), @menu-font-color-dark, @menu-font-color-light);
    }
    border-bottom: @header-border-alt-2;
  }
}

.site-header {
  .header-fixed-mixin();
  .submenu-expansion-fix-mixin();
  transform: translateY(0);
  transition: margin ease-in 0.5s;

  &-animated {
    transition: transform ease-in 0.5s, margin ease-in 0.5s;
  }
  &-fixed {
    .header-fixed-when-pulled-down-mixin();

    &-squashed {

      .atMedium({
        /* this mixin is defined in sidebar.css */
        .sidebar-squashes-main-mixin();
      });
      
    }
  }
  &-pushedUp {
    transform: translateY(-100%);
  }

  * {
    font-family: @header-font-family;
  }

  a {
    text-decoration: none;
  }

  .header-wrapper {

    &-row {
      .header-row-mixin();
    }

    &-row:first-of-type {
      padding-top: 0.25rem;
      padding-bottom: 0.25rem;

      .atMedium({
        display: grid;
        grid-template-columns: 3fr 4fr 3fr;
        grid-gap: 0;
      });

    }

    &-row:last-of-type {

      .atMedium({
        display: grid;
        grid-template-columns: 2fr 6fr 2fr;
        grid-gap: 0;
      });

    }

    &-row.header-wrapper-row-alt {
      .header-row-alt-mixin();

      .atMedium({
        display: grid;
        grid-template-columns: 2fr 6fr 2fr;
        grid-gap: 0;
      });
    }

    &-col {
      text-align: center;

      .atMedium({
        text-align: initial;

        &:not(:first-of-type):not(:last-of-type) {
          text-align: center;
        }

        &:first-of-type {
          padding-left: 0.5rem;
        }

        &:last-of-type {
          text-align: right;
          padding-right: 0.5rem;
        }

      });

      .logo {
        text-align: center;

        img {
          max-height: 10vh;
          min-height: 120px;
          vertical-align: middle;
        }
        &-shrunk {
          img {
            max-height: 5vh;
            min-height: 60px;
          }
        }
      }

      .altLogo {
        text-align: center;
        display: none;

        img {
          margin: 0.2rem 0;
          max-height: 5vh;
          min-height: 60px;
        }
      }

    }

    .header-nav-btn {
      position: absolute;
      right: 0.5rem;
      bottom: 0.5rem;
      min-width: 25px;
      max-width: 5vw;
      cursor: pointer;
      transition: all 0.1s;
      background-color: @header-nav-btn-background-color;
      border-radius: @header-nav-btn-radius;
      padding: @header-nav-btn-padding;

      .atMedium({
        display: none;
      });

      &.alt {
        background-color: @header-nav-btn-background-alt-color;

        .header-nav-btn-bar-alt-mixin {
          background-color: @header-nav-btn-alt-color;
        }
        &::before, .header-nav-btn-bar-middle, &:after {
          .header-nav-btn-bar-alt-mixin();
        }

        &:hover {
          background-color: lighten(@header-nav-btn-background-alt-color, 7%);
        }

      }

      &:hover {
        background-color: lighten(@header-nav-btn-background-color, 7%);
      }

      .header-nav-btn-bar-mixin {
        width: 100%;
        height: @header-nav-btn-bar-height;
        background-color: @header-nav-btn-color;
        border-radius: @header-nav-btn-bar-radius;
      }

      &::before {
        content: "";
        display: block;
        .header-nav-btn-bar-mixin();
        margin-bottom: @header-nav-btn-bar-height;
        transition: all .3s ease-out;
      }

      &-bar-middle {
        .header-nav-btn-bar-mixin();
        transition: all .3s ease-out;
      }

      &::after {
        content: "";
        display: block;
        .header-nav-btn-bar-mixin();
        margin-top: @header-nav-btn-bar-height;
        transition: all .3s ease-out;
      }

      &-close {

        &::before {
          margin-bottom: 0;
          transform:  translateY(100%) rotate(45deg);
          transform-origin: 50% 50%;
        }

        .header-nav-btn-bar-middle {
          transform: scaleX(0);
        }

        &::after {
          margin-top: 0;
          transform: translateY(-100%) rotate(-45deg);
          transform-origin: 50% 50%;
        }

      }

    }

    form[name=searchForm] {
      margin-top: 0.5rem;

      .atMedium({
        margin-top: initial;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
      });

      label {

        .magnifier {
          cursor: pointer;
        }

      }

      input[name=searchField] {
        min-width: 60px;
        max-width: 7vw;
        display:inline-block;
        height: 20px;
        box-sizing: border-box;
        border: @header-search-border;
        border-bottom: @header-search-border-bottom;
        border-radius: @header-search-border-radius;
        color: @header-search-color;
        font-size: @header-search-font-size;
        background-color: @header-search-bg-color;

        &.alt {
          border: @header-search-alt-border;
          border-bottom: @header-search-alt-border-bottom;
          color: @header-search-alt-color;
          background-color: @header-search-alt-bg-color;
        }

      }

    }

    nav.menu {
      text-align: center;
      display: none;

      .atMedium({
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        display: block;
      });

      &-visible {
        display: block;
      }

      ul {
        margin: 0;
        list-style: none;
        z-index: @z-index-5;

        li {
          display: block;
          padding-right: 40px;
          text-align: left;

          .atMedium({
            display: inline-block;
          });

          a {
            font-size: @menu-font-size;
            font-weight: @menu-font-weight;
            cursor: pointer;

            .atMedium({
              white-space: nowrap;
              font-size: (@menu-font-size + 0.5) - (@menu-font-size + 0.5)*0.1;
            });

            .atLarge({
              font-size: (@menu-font-size + 0.75) - (@menu-font-size + 0.75)*0.1;
            });

            &.is-current-link {
              text-decoration: underline;
            }

            .point {
              font-size: @menu-font-size;
              transition: all linear 0.5s;
              display: inline-flex;
              margin-left: @menu-font-size*0.5;
              width: 1.5rem;
              height: 2.5rem;
              align-items: center;
              justify-content: center;


              &-down {
                transform: rotate(90deg);
              }

              &-up {
                transform: rotate(-90deg);
              }
            }

          }

          ul {

            display: none;
            margin-left: 1rem;
            padding: 0 2rem;
            background-color: @header-submenu-background-color;
            border: @header-submenu-border;
            border-radius: 1px;
            list-style: none;

            li * {
              color: if((@header-submenu-bg-light), @menu-font-color-dark, @menu-font-color-light);
            }

            &.alt {
              background-color: @header-submenu-background-alt-color;
              border: @header-submenu-alt-border;

              li * {
                color: if((@header-submenu-bg-alt-light), @menu-font-color-dark, @menu-font-color-light);
              }

            }

            .atMedium({
              position: absolute;
              margin-left: 0;
            });

            li {
              display: block;
              padding: 0.5rem 0;

              ul {

                .atMedium({
                  left: 60%;
                });

              }

            }

          }

        }

      }

    }

  }

}
