
.parallax-container {
  position: relative;
  height: @parallax-container-height;
  overflow: hidden;
}

.parallax-container img {
  position: absolute;
  width: 100%;
}

.parallax-btn {
  position: relative;
  z-index: @z-index-1;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
}
