
.parallax-container {
  position: relative;
  height: @parallax-container-height;
  overflow: hidden;
  background: if((@parallax-overlay), @parallax-overlay-color, none);

  .parallax-img {
    position: absolute;
    width: 100%;
    opacity: if((@parallax-overlay), 1 - @parallax-overlay-opacity, 1);
  }

  .parallax-content {
    position:relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    z-index: @z-index-1;

    .parallax-heading {
      margin: 0 0 0.5rem 0;
      font-size: @parallax-font-size;
      color: white;
      font-weight: @parallax-font-weight;
      text-shadow: @parallax-text-shadow;

      .atSmall({
        font-size: @parallax-font-size + 1;
      });

    }

    .parallax-btn {
    }

  }

}
