.video-container {
  position: relative;
  height: @video-container-height;
  overflow: hidden;
  background: if((@video-overlay), @video-overlay-color, none);
  z-index: @z-index-1;

  .full-width-video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    transform: none;
    opacity: if((@video-overlay), 1 - @video-overlay-opacity, 1);
  }

}
